--
-- PostgreSQL database dump
--

\restrict RyyYYZYe8bW56d7tqFdyADbiU27gntTO0xf74CmzM7bSKfrnPGvAxbMhWcrFSrn

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: estatenet
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO estatenet;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: estatenet
--

COMMENT ON SCHEMA public IS '';


--
-- Name: BillingStatus; Type: TYPE; Schema: public; Owner: estatenet
--

CREATE TYPE public."BillingStatus" AS ENUM (
    'CURRENT',
    'OVERDUE',
    'RESTRICTED',
    'SUSPENDED'
);


ALTER TYPE public."BillingStatus" OWNER TO estatenet;

--
-- Name: InvitationStatus; Type: TYPE; Schema: public; Owner: estatenet
--

CREATE TYPE public."InvitationStatus" AS ENUM (
    'PENDING',
    'ACCEPTED',
    'DECLINED',
    'EXPIRED',
    'CANCELLED'
);


ALTER TYPE public."InvitationStatus" OWNER TO estatenet;

--
-- Name: LeaseStatus; Type: TYPE; Schema: public; Owner: estatenet
--

CREATE TYPE public."LeaseStatus" AS ENUM (
    'ACTIVE',
    'ENDED',
    'EVICTED'
);


ALTER TYPE public."LeaseStatus" OWNER TO estatenet;

--
-- Name: PaymentClaimDecision; Type: TYPE; Schema: public; Owner: estatenet
--

CREATE TYPE public."PaymentClaimDecision" AS ENUM (
    'VERIFIED',
    'REJECTED'
);


ALTER TYPE public."PaymentClaimDecision" OWNER TO estatenet;

--
-- Name: PaymentClaimStatus; Type: TYPE; Schema: public; Owner: estatenet
--

CREATE TYPE public."PaymentClaimStatus" AS ENUM (
    'PENDING',
    'VERIFIED',
    'REJECTED'
);


ALTER TYPE public."PaymentClaimStatus" OWNER TO estatenet;

--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: estatenet
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'PAID',
    'PENDING',
    'OVERDUE',
    'SUCCESS',
    'FAILED'
);


ALTER TYPE public."PaymentStatus" OWNER TO estatenet;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: estatenet
--

CREATE TYPE public."UserRole" AS ENUM (
    'MANAGER',
    'TENANT',
    'OWNER'
);


ALTER TYPE public."UserRole" OWNER TO estatenet;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: estatenet
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO estatenet;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: estatenet
--

CREATE TABLE public.audit_logs (
    id text NOT NULL,
    "entityType" text NOT NULL,
    "entityId" text NOT NULL,
    action text NOT NULL,
    "performedByUserId" text NOT NULL,
    "previousState" jsonb,
    "newState" jsonb NOT NULL,
    metadata jsonb,
    "ipAddress" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO estatenet;

--
-- Name: invoice_lines; Type: TABLE; Schema: public; Owner: estatenet
--

CREATE TABLE public.invoice_lines (
    id text NOT NULL,
    "invoiceId" text NOT NULL,
    "propertyId" text NOT NULL,
    "unitId" text NOT NULL,
    "rentAmount" integer NOT NULL,
    "tenantId" text,
    "leaseId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.invoice_lines OWNER TO estatenet;

--
-- Name: invoices; Type: TABLE; Schema: public; Owner: estatenet
--

CREATE TABLE public.invoices (
    id text NOT NULL,
    "periodStart" timestamp(3) without time zone NOT NULL,
    "periodEnd" timestamp(3) without time zone NOT NULL,
    "subtotalAmount" integer NOT NULL,
    "feeRateBps" integer NOT NULL,
    "feeAmount" integer NOT NULL,
    status text NOT NULL,
    "dueDate" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "paidAt" timestamp(3) without time zone,
    "billedUserId" text NOT NULL
);


ALTER TABLE public.invoices OWNER TO estatenet;

--
-- Name: job_locks; Type: TABLE; Schema: public; Owner: estatenet
--

CREATE TABLE public.job_locks (
    id text NOT NULL,
    "jobName" text NOT NULL,
    "lockedUntil" timestamp(3) without time zone NOT NULL,
    "lockedBy" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.job_locks OWNER TO estatenet;

--
-- Name: leases; Type: TABLE; Schema: public; Owner: estatenet
--

CREATE TABLE public.leases (
    id text NOT NULL,
    "tenantId" text NOT NULL,
    "propertyId" text NOT NULL,
    "unitId" text NOT NULL,
    "rentAmount" integer NOT NULL,
    "startDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "endDate" timestamp(3) without time zone,
    status public."LeaseStatus" DEFAULT 'ACTIVE'::public."LeaseStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.leases OWNER TO estatenet;

--
-- Name: messages; Type: TABLE; Schema: public; Owner: estatenet
--

CREATE TABLE public.messages (
    id text NOT NULL,
    "fromUserId" text NOT NULL,
    "toUserId" text NOT NULL,
    "leaseId" text,
    subject text,
    body text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "readAt" timestamp(3) without time zone,
    archived boolean DEFAULT false NOT NULL
);


ALTER TABLE public.messages OWNER TO estatenet;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: estatenet
--

CREATE TABLE public.notifications (
    id text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    title text NOT NULL,
    body text NOT NULL,
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "readAt" timestamp(3) without time zone
);


ALTER TABLE public.notifications OWNER TO estatenet;

--
-- Name: owner_manager_invitations; Type: TABLE; Schema: public; Owner: estatenet
--

CREATE TABLE public.owner_manager_invitations (
    id text NOT NULL,
    "propertyId" text NOT NULL,
    "ownerId" text NOT NULL,
    "managerEmail" text NOT NULL,
    "managerId" text,
    status public."InvitationStatus" DEFAULT 'PENDING'::public."InvitationStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "respondedAt" timestamp(3) without time zone
);


ALTER TABLE public.owner_manager_invitations OWNER TO estatenet;

--
-- Name: payment_claim_verifications; Type: TABLE; Schema: public; Owner: estatenet
--

CREATE TABLE public.payment_claim_verifications (
    id text NOT NULL,
    "claimId" text NOT NULL,
    "managerId" text NOT NULL,
    decision public."PaymentClaimDecision" NOT NULL,
    note text,
    "decidedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.payment_claim_verifications OWNER TO estatenet;

--
-- Name: payment_claims; Type: TABLE; Schema: public; Owner: estatenet
--

CREATE TABLE public.payment_claims (
    id text NOT NULL,
    "tenantId" text NOT NULL,
    "leaseId" text NOT NULL,
    "managerId" text NOT NULL,
    amount integer NOT NULL,
    currency text DEFAULT 'UGX'::text NOT NULL,
    "claimedPaidAt" timestamp(3) without time zone NOT NULL,
    "billingPeriod" text NOT NULL,
    method text NOT NULL,
    "referenceText" text,
    status public."PaymentClaimStatus" DEFAULT 'PENDING'::public."PaymentClaimStatus" NOT NULL,
    flagged boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.payment_claims OWNER TO estatenet;

--
-- Name: payments; Type: TABLE; Schema: public; Owner: estatenet
--

CREATE TABLE public.payments (
    id text NOT NULL,
    "tenantId" text NOT NULL,
    "propertyId" text NOT NULL,
    "unitId" text NOT NULL,
    amount integer NOT NULL,
    status public."PaymentStatus" DEFAULT 'PENDING'::public."PaymentStatus" NOT NULL,
    "paymentMethod" text,
    "transactionId" text,
    "paymentDate" timestamp(3) without time zone NOT NULL,
    "dueDate" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "billingPeriod" text NOT NULL,
    "leaseId" text,
    "paymentClaimId" text
);


ALTER TABLE public.payments OWNER TO estatenet;

--
-- Name: properties; Type: TABLE; Schema: public; Owner: estatenet
--

CREATE TABLE public.properties (
    id text NOT NULL,
    name text NOT NULL,
    location text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "managerId" text,
    "ownerId" text NOT NULL,
    "billedUserId" text NOT NULL
);


ALTER TABLE public.properties OWNER TO estatenet;

--
-- Name: service_payments; Type: TABLE; Schema: public; Owner: estatenet
--

CREATE TABLE public.service_payments (
    id text NOT NULL,
    "invoiceId" text NOT NULL,
    "managerId" text NOT NULL,
    amount integer NOT NULL,
    currency text DEFAULT 'UGX'::text NOT NULL,
    provider text NOT NULL,
    network text NOT NULL,
    "phoneNumber" text NOT NULL,
    "externalRef" text NOT NULL,
    "providerRequestId" text,
    "providerTxId" text,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "failureReason" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.service_payments OWNER TO estatenet;

--
-- Name: tenant_identities; Type: TABLE; Schema: public; Owner: estatenet
--

CREATE TABLE public.tenant_identities (
    id text NOT NULL,
    "tenantId" text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    "phoneNumber" text,
    "profileImage" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.tenant_identities OWNER TO estatenet;

--
-- Name: tenant_invitations; Type: TABLE; Schema: public; Owner: estatenet
--

CREATE TABLE public.tenant_invitations (
    id text NOT NULL,
    "tenantId" text NOT NULL,
    "propertyId" text NOT NULL,
    "unitId" text NOT NULL,
    "rentAmount" integer NOT NULL,
    status public."InvitationStatus" DEFAULT 'PENDING'::public."InvitationStatus" NOT NULL,
    "invitedByUserId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "respondedAt" timestamp(3) without time zone
);


ALTER TABLE public.tenant_invitations OWNER TO estatenet;

--
-- Name: units; Type: TABLE; Schema: public; Owner: estatenet
--

CREATE TABLE public.units (
    id text NOT NULL,
    "propertyId" text NOT NULL,
    "unitNumber" text NOT NULL,
    "rentAmount" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isOccupied" boolean DEFAULT false NOT NULL
);


ALTER TABLE public.units OWNER TO estatenet;

--
-- Name: users; Type: TABLE; Schema: public; Owner: estatenet
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    name text NOT NULL,
    "phoneNumber" text,
    role public."UserRole" DEFAULT 'TENANT'::public."UserRole" NOT NULL,
    "tenantId" text,
    "profileImage" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "notificationPrefs" jsonb,
    "payoutNetwork" text,
    "payoutPhoneNumber" text,
    "billingGraceUntil" timestamp(3) without time zone,
    "managerTermsAcceptedAt" timestamp(3) without time zone,
    "createdByOwnerId" text,
    "billingStatus" public."BillingStatus" DEFAULT 'CURRENT'::public."BillingStatus",
    "billingTermsAcceptedAt" timestamp(3) without time zone
);


ALTER TABLE public.users OWNER TO estatenet;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: estatenet
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: estatenet
--

COPY public.audit_logs (id, "entityType", "entityId", action, "performedByUserId", "previousState", "newState", metadata, "ipAddress", "createdAt") FROM stdin;
\.


--
-- Data for Name: invoice_lines; Type: TABLE DATA; Schema: public; Owner: estatenet
--

COPY public.invoice_lines (id, "invoiceId", "propertyId", "unitId", "rentAmount", "tenantId", "leaseId", "createdAt") FROM stdin;
cmnoiazhg00057o8kqh08n9ve	cmnoiazhg00037o8ko7dt5wms	cmnktu0gs0008fx07ndfkdroo	cmnktu0gs000bfx07czpen7m0	1250000	TN-IXYUPR49	cmnkujodv0004imasp9niv6bl	2026-04-07 10:58:57.7
\.


--
-- Data for Name: invoices; Type: TABLE DATA; Schema: public; Owner: estatenet
--



--
-- Data for Name: job_locks; Type: TABLE DATA; Schema: public; Owner: estatenet
--

COPY public.job_locks (id, "jobName", "lockedUntil", "lockedBy", "createdAt", "updatedAt") FROM stdin;
cmmszpfdh0001qpcc7czm0j9k	daily-billing-tasks	2026-04-12 22:45:11.375	instance-1776033605970-qnnw0sj9w	2026-03-16 09:37:27.317	2026-04-12 22:40:11.385
\.


--
-- Data for Name: leases; Type: TABLE DATA; Schema: public; Owner: estatenet
--

COPY public.leases (id, "tenantId", "propertyId", "unitId", "rentAmount", "startDate", "endDate", status, "createdAt", "updatedAt") FROM stdin;
cmnkujodv0004imasp9niv6bl	TN-IXYUPR49	cmnktu0gs0008fx07ndfkdroo	cmnktu0gs000bfx07czpen7m0	1250000	2026-04-04 21:30:33.907	\N	ACTIVE	2026-04-04 21:30:33.907	2026-04-04 21:30:33.907
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: estatenet
--

COPY public.messages (id, "fromUserId", "toUserId", "leaseId", subject, body, "createdAt", "readAt", archived) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: estatenet
--



--
-- Data for Name: owner_manager_invitations; Type: TABLE DATA; Schema: public; Owner: estatenet
--

COPY public.owner_manager_invitations (id, "propertyId", "ownerId", "managerEmail", "managerId", status, "createdAt", "respondedAt") FROM stdin;
\.


--
-- Data for Name: payment_claim_verifications; Type: TABLE DATA; Schema: public; Owner: estatenet
--

COPY public.payment_claim_verifications (id, "claimId", "managerId", decision, note, "decidedAt") FROM stdin;
cmnozbotm0008zftrmgz4y5vx	cmnoz9sml0003zftrl53m774u	cmnktsz4j0006fx07ljlcqrd1	VERIFIED	\N	2026-04-07 18:55:24.011
\.


--
-- Data for Name: payment_claims; Type: TABLE DATA; Schema: public; Owner: estatenet
--

COPY public.payment_claims (id, "tenantId", "leaseId", "managerId", amount, currency, "claimedPaidAt", "billingPeriod", method, "referenceText", status, flagged, "createdAt", "updatedAt") FROM stdin;
cmnoz9sml0003zftrl53m774u	TN-IXYUPR49	cmnkujodv0004imasp9niv6bl	cmnktsz4j0006fx07ljlcqrd1	3750000	UGX	2026-04-07 18:52:37.381	2026-04	MTN	I had a tough time transacting	VERIFIED	f	2026-04-07 18:53:55.629	2026-04-07 18:55:24.035
\.


--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: estatenet
--

COPY public.payments (id, "tenantId", "propertyId", "unitId", amount, status, "paymentMethod", "transactionId", "paymentDate", "dueDate", "createdAt", "updatedAt", "billingPeriod", "leaseId", "paymentClaimId") FROM stdin;
cmnozbov5000azftrk1grefgw	TN-IXYUPR49	cmnktu0gs0008fx07ndfkdroo	cmnktu0gs000bfx07czpen7m0	3750000	PAID	MTN	I had a tough time transacting	2026-04-07 18:55:24.011	2026-04-07 18:52:37.381	2026-04-07 18:55:24.065	2026-04-07 18:55:24.065	2026-04	cmnkujodv0004imasp9niv6bl	cmnoz9sml0003zftrl53m774u
\.


--
-- Data for Name: properties; Type: TABLE DATA; Schema: public; Owner: estatenet
--



--
-- Data for Name: service_payments; Type: TABLE DATA; Schema: public; Owner: estatenet
--

COPY public.service_payments (id, "invoiceId", "managerId", amount, currency, provider, network, "phoneNumber", "externalRef", "providerRequestId", "providerTxId", status, "failureReason", "createdAt", "updatedAt") FROM stdin;
cmnd0m53l0002aqe5qkkg6jzx	cmnd0fa680001oyy3lonia4i5	cmmt07jrw0005uydk3ddcdfzm	15000	UGX	XYLE	MTN	256777724310	SPAY-MND0LT0I-LSGB0428	788ea5f3-b176-4901-9440-20dd3cdd8aca	\N	FAILED	TIMEOUT	2026-03-30 09:58:17.134	2026-03-30 10:20:00.826
\.


--
-- Data for Name: tenant_identities; Type: TABLE DATA; Schema: public; Owner: estatenet
--



--
-- Data for Name: tenant_invitations; Type: TABLE DATA; Schema: public; Owner: estatenet
--

COPY public.tenant_invitations (id, "tenantId", "propertyId", "unitId", "rentAmount", status, "invitedByUserId", "createdAt", "respondedAt") FROM stdin;
cmnktv8gb000ufx07xscrif5i	TN-IXYUPR49	cmnktu0gs0008fx07ndfkdroo	cmnktu0gs000bfx07czpen7m0	1250000	ACCEPTED	cmnktsz4j0006fx07ljlcqrd1	2026-04-04 21:11:33.515	2026-04-04 21:30:33.937
\.


--
-- Data for Name: units; Type: TABLE DATA; Schema: public; Owner: estatenet
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: estatenet
--



--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: invoice_lines invoice_lines_pkey; Type: CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.invoice_lines
    ADD CONSTRAINT invoice_lines_pkey PRIMARY KEY (id);


--
-- Name: invoices invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_pkey PRIMARY KEY (id);


--
-- Name: job_locks job_locks_pkey; Type: CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.job_locks
    ADD CONSTRAINT job_locks_pkey PRIMARY KEY (id);


--
-- Name: leases leases_pkey; Type: CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.leases
    ADD CONSTRAINT leases_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: owner_manager_invitations owner_manager_invitations_pkey; Type: CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.owner_manager_invitations
    ADD CONSTRAINT owner_manager_invitations_pkey PRIMARY KEY (id);


--
-- Name: payment_claim_verifications payment_claim_verifications_pkey; Type: CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.payment_claim_verifications
    ADD CONSTRAINT payment_claim_verifications_pkey PRIMARY KEY (id);


--
-- Name: payment_claims payment_claims_pkey; Type: CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.payment_claims
    ADD CONSTRAINT payment_claims_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: properties properties_pkey; Type: CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.properties
    ADD CONSTRAINT properties_pkey PRIMARY KEY (id);


--
-- Name: service_payments service_payments_pkey; Type: CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.service_payments
    ADD CONSTRAINT service_payments_pkey PRIMARY KEY (id);


--
-- Name: tenant_identities tenant_identities_pkey; Type: CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.tenant_identities
    ADD CONSTRAINT tenant_identities_pkey PRIMARY KEY (id);


--
-- Name: tenant_invitations tenant_invitations_pkey; Type: CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.tenant_invitations
    ADD CONSTRAINT tenant_invitations_pkey PRIMARY KEY (id);


--
-- Name: units units_pkey; Type: CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT units_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: audit_logs_entityId_entityType_createdAt_idx; Type: INDEX; Schema: public; Owner: estatenet
--

CREATE INDEX "audit_logs_entityId_entityType_createdAt_idx" ON public.audit_logs USING btree ("entityId", "entityType", "createdAt");


--
-- Name: audit_logs_performedByUserId_createdAt_idx; Type: INDEX; Schema: public; Owner: estatenet
--

CREATE INDEX "audit_logs_performedByUserId_createdAt_idx" ON public.audit_logs USING btree ("performedByUserId", "createdAt");


--
-- Name: invoices_billedUserId_periodStart_periodEnd_key; Type: INDEX; Schema: public; Owner: estatenet
--

CREATE UNIQUE INDEX "invoices_billedUserId_periodStart_periodEnd_key" ON public.invoices USING btree ("billedUserId", "periodStart", "periodEnd");


--
-- Name: job_locks_jobName_key; Type: INDEX; Schema: public; Owner: estatenet
--

CREATE UNIQUE INDEX "job_locks_jobName_key" ON public.job_locks USING btree ("jobName");


--
-- Name: leases_tenantId_status_idx; Type: INDEX; Schema: public; Owner: estatenet
--

CREATE INDEX "leases_tenantId_status_idx" ON public.leases USING btree ("tenantId", status);


--
-- Name: messages_fromUserId_createdAt_idx; Type: INDEX; Schema: public; Owner: estatenet
--

CREATE INDEX "messages_fromUserId_createdAt_idx" ON public.messages USING btree ("fromUserId", "createdAt");


--
-- Name: messages_leaseId_createdAt_idx; Type: INDEX; Schema: public; Owner: estatenet
--

CREATE INDEX "messages_leaseId_createdAt_idx" ON public.messages USING btree ("leaseId", "createdAt");


--
-- Name: messages_toUserId_createdAt_idx; Type: INDEX; Schema: public; Owner: estatenet
--

CREATE INDEX "messages_toUserId_createdAt_idx" ON public.messages USING btree ("toUserId", "createdAt");


--
-- Name: notifications_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: estatenet
--

CREATE INDEX "notifications_userId_createdAt_idx" ON public.notifications USING btree ("userId", "createdAt");


--
-- Name: payment_claim_verifications_claimId_key; Type: INDEX; Schema: public; Owner: estatenet
--

CREATE UNIQUE INDEX "payment_claim_verifications_claimId_key" ON public.payment_claim_verifications USING btree ("claimId");


--
-- Name: payment_claims_leaseId_billingPeriod_status_idx; Type: INDEX; Schema: public; Owner: estatenet
--

CREATE INDEX "payment_claims_leaseId_billingPeriod_status_idx" ON public.payment_claims USING btree ("leaseId", "billingPeriod", status);


--
-- Name: payment_claims_managerId_status_idx; Type: INDEX; Schema: public; Owner: estatenet
--

CREATE INDEX "payment_claims_managerId_status_idx" ON public.payment_claims USING btree ("managerId", status);


--
-- Name: payment_claims_tenantId_createdAt_idx; Type: INDEX; Schema: public; Owner: estatenet
--

CREATE INDEX "payment_claims_tenantId_createdAt_idx" ON public.payment_claims USING btree ("tenantId", "createdAt");


--
-- Name: payment_claims_tenantId_status_idx; Type: INDEX; Schema: public; Owner: estatenet
--

CREATE INDEX "payment_claims_tenantId_status_idx" ON public.payment_claims USING btree ("tenantId", status);


--
-- Name: payments_billingPeriod_tenantId_idx; Type: INDEX; Schema: public; Owner: estatenet
--

CREATE INDEX "payments_billingPeriod_tenantId_idx" ON public.payments USING btree ("billingPeriod", "tenantId");


--
-- Name: payments_leaseId_idx; Type: INDEX; Schema: public; Owner: estatenet
--

CREATE INDEX "payments_leaseId_idx" ON public.payments USING btree ("leaseId");


--
-- Name: payments_paymentClaimId_key; Type: INDEX; Schema: public; Owner: estatenet
--

CREATE UNIQUE INDEX "payments_paymentClaimId_key" ON public.payments USING btree ("paymentClaimId");


--
-- Name: payments_propertyId_status_idx; Type: INDEX; Schema: public; Owner: estatenet
--

CREATE INDEX "payments_propertyId_status_idx" ON public.payments USING btree ("propertyId", status);


--
-- Name: payments_status_paymentDate_idx; Type: INDEX; Schema: public; Owner: estatenet
--

CREATE INDEX "payments_status_paymentDate_idx" ON public.payments USING btree (status, "paymentDate");


--
-- Name: service_payments_externalRef_key; Type: INDEX; Schema: public; Owner: estatenet
--

CREATE UNIQUE INDEX "service_payments_externalRef_key" ON public.service_payments USING btree ("externalRef");


--
-- Name: tenant_identities_email_key; Type: INDEX; Schema: public; Owner: estatenet
--

CREATE UNIQUE INDEX tenant_identities_email_key ON public.tenant_identities USING btree (email);


--
-- Name: tenant_identities_tenantId_key; Type: INDEX; Schema: public; Owner: estatenet
--

CREATE UNIQUE INDEX "tenant_identities_tenantId_key" ON public.tenant_identities USING btree ("tenantId");


--
-- Name: units_propertyId_unitNumber_key; Type: INDEX; Schema: public; Owner: estatenet
--

CREATE UNIQUE INDEX "units_propertyId_unitNumber_key" ON public.units USING btree ("propertyId", "unitNumber");


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: estatenet
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_tenantId_key; Type: INDEX; Schema: public; Owner: estatenet
--

CREATE UNIQUE INDEX "users_tenantId_key" ON public.users USING btree ("tenantId");


--
-- Name: audit_logs audit_logs_performedByUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT "audit_logs_performedByUserId_fkey" FOREIGN KEY ("performedByUserId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: invoice_lines invoice_lines_invoiceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.invoice_lines
    ADD CONSTRAINT "invoice_lines_invoiceId_fkey" FOREIGN KEY ("invoiceId") REFERENCES public.invoices(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: invoice_lines invoice_lines_leaseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.invoice_lines
    ADD CONSTRAINT "invoice_lines_leaseId_fkey" FOREIGN KEY ("leaseId") REFERENCES public.leases(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: invoice_lines invoice_lines_propertyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.invoice_lines
    ADD CONSTRAINT "invoice_lines_propertyId_fkey" FOREIGN KEY ("propertyId") REFERENCES public.properties(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: invoice_lines invoice_lines_unitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.invoice_lines
    ADD CONSTRAINT "invoice_lines_unitId_fkey" FOREIGN KEY ("unitId") REFERENCES public.units(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: invoices invoices_billedUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT "invoices_billedUserId_fkey" FOREIGN KEY ("billedUserId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: leases leases_propertyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.leases
    ADD CONSTRAINT "leases_propertyId_fkey" FOREIGN KEY ("propertyId") REFERENCES public.properties(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: leases leases_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.leases
    ADD CONSTRAINT "leases_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public.tenant_identities("tenantId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: leases leases_unitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.leases
    ADD CONSTRAINT "leases_unitId_fkey" FOREIGN KEY ("unitId") REFERENCES public.units(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: messages messages_fromUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT "messages_fromUserId_fkey" FOREIGN KEY ("fromUserId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: messages messages_leaseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT "messages_leaseId_fkey" FOREIGN KEY ("leaseId") REFERENCES public.leases(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: messages messages_toUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT "messages_toUserId_fkey" FOREIGN KEY ("toUserId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: notifications notifications_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT "notifications_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: owner_manager_invitations owner_manager_invitations_managerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.owner_manager_invitations
    ADD CONSTRAINT "owner_manager_invitations_managerId_fkey" FOREIGN KEY ("managerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: owner_manager_invitations owner_manager_invitations_ownerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.owner_manager_invitations
    ADD CONSTRAINT "owner_manager_invitations_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: owner_manager_invitations owner_manager_invitations_propertyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.owner_manager_invitations
    ADD CONSTRAINT "owner_manager_invitations_propertyId_fkey" FOREIGN KEY ("propertyId") REFERENCES public.properties(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payment_claim_verifications payment_claim_verifications_claimId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.payment_claim_verifications
    ADD CONSTRAINT "payment_claim_verifications_claimId_fkey" FOREIGN KEY ("claimId") REFERENCES public.payment_claims(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payment_claim_verifications payment_claim_verifications_managerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.payment_claim_verifications
    ADD CONSTRAINT "payment_claim_verifications_managerId_fkey" FOREIGN KEY ("managerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: payment_claims payment_claims_leaseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.payment_claims
    ADD CONSTRAINT "payment_claims_leaseId_fkey" FOREIGN KEY ("leaseId") REFERENCES public.leases(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: payment_claims payment_claims_managerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.payment_claims
    ADD CONSTRAINT "payment_claims_managerId_fkey" FOREIGN KEY ("managerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: payment_claims payment_claims_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.payment_claims
    ADD CONSTRAINT "payment_claims_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public.tenant_identities("tenantId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: payments payments_leaseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT "payments_leaseId_fkey" FOREIGN KEY ("leaseId") REFERENCES public.leases(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: payments payments_propertyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT "payments_propertyId_fkey" FOREIGN KEY ("propertyId") REFERENCES public.properties(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payments payments_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT "payments_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public.tenant_identities("tenantId") ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payments payments_unitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT "payments_unitId_fkey" FOREIGN KEY ("unitId") REFERENCES public.units(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: properties properties_billedUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.properties
    ADD CONSTRAINT "properties_billedUserId_fkey" FOREIGN KEY ("billedUserId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: properties properties_managerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.properties
    ADD CONSTRAINT "properties_managerId_fkey" FOREIGN KEY ("managerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: properties properties_ownerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.properties
    ADD CONSTRAINT "properties_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: service_payments service_payments_invoiceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.service_payments
    ADD CONSTRAINT "service_payments_invoiceId_fkey" FOREIGN KEY ("invoiceId") REFERENCES public.invoices(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: service_payments service_payments_managerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.service_payments
    ADD CONSTRAINT "service_payments_managerId_fkey" FOREIGN KEY ("managerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: tenant_invitations tenant_invitations_invitedByUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.tenant_invitations
    ADD CONSTRAINT "tenant_invitations_invitedByUserId_fkey" FOREIGN KEY ("invitedByUserId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: tenant_invitations tenant_invitations_propertyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.tenant_invitations
    ADD CONSTRAINT "tenant_invitations_propertyId_fkey" FOREIGN KEY ("propertyId") REFERENCES public.properties(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: tenant_invitations tenant_invitations_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.tenant_invitations
    ADD CONSTRAINT "tenant_invitations_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public.tenant_identities("tenantId") ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: tenant_invitations tenant_invitations_unitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.tenant_invitations
    ADD CONSTRAINT "tenant_invitations_unitId_fkey" FOREIGN KEY ("unitId") REFERENCES public.units(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: units units_propertyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT "units_propertyId_fkey" FOREIGN KEY ("propertyId") REFERENCES public.properties(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: users users_createdByOwnerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "users_createdByOwnerId_fkey" FOREIGN KEY ("createdByOwnerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: users users_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: estatenet
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "users_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public.tenant_identities("tenantId") ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: estatenet
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict RyyYYZYe8bW56d7tqFdyADbiU27gntTO0xf74CmzM7bSKfrnPGvAxbMhWcrFSrn

